absl=0.6.0
astor=0.7.1
certifi
chardet=3.0.4
cycler=0.10.0
gast=0.2.0
grpcio=1.15.0
h5py=2.8.0
idna=2.8.0
imageio=2.4.1
imageio=2.4.1
Keras=2.2.4
Keras-Applications=1.0.6
Keras-Preprocessing=1.0.5
kiwisolver=1.0.1
Markdown=3.0.1
matplotlib=3.0.0
matplotlib=3.0.2
numpy=1.14.6
numpy=1.15.3
opencv-python=3.4.3.18
os=0.14.0
pandas=0.18.1
pandas=0.23.4
Pillow=5.3.0
pip=18.1
progressbar2=3.39.2
protobuf=3.6.1
pyparsing=2.3.0
pytz=2018.5
PyYAML=3.13
requests=2.21.0
scikit-learn=0.20.0
scikit_learn=0.20.2
scipy=1.1.0
scipy=1.1.0
setuptools=39.0.1
shutil=3.4.0
six=1.11.0
tensorboard=1.11.0
tensorflow-gpu<1.11.0
termcolor=1.1.0
unidecode=0.04.1
Unidecode=1.0.22
urllib3=1.24.1
Werkzeug=0.14.1
wheel=0.32.2

